html{
    margin: 0;
}

div{
    display:block;
}
.button {
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;
}
#grey{
    background: gray;
}
#white{
    background: white;
}
#blue{
    background: blue;
}

#yellow{
    background: yellow;
}